# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages for Data Science
* List commonly used libroaries used by data scientist
* List few data science tools
* Examples for evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:

1. Python
1. R
1. Scala

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
1. Pandas
1. Matplotlib

|Data Science Tools |
|:------------------|
|  Hadoop           | 
|  Spark            | 
|  Jupyter          |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers.

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [2]:
(200/60)

3.3333333333333335

## Author:

UMA MAHESWARI O P